*{
    margin: 0%;
    padding: 0%;
    max-width: none;
}
h3{
    color:rgb(7, 245, 165);
}

body{
   
   background-color: rgb(194, 221, 215);
  
}
.image{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/87/851/622/laptop-backgrounds-nature-images-1920x1200-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-position: center center center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed; 
    position: fixed;
    z-index: -1;
    filter: blur(2px);
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    
 
}
h3{
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 24px;
}
.child{
    padding-left: 25px;
}

button{
    padding:5px;
    margin-right: 20px;
}
.button_resizer{
    width: 400px;
    padding-top: 17px;
    height:50px;
  /*  border:3px solid white;*/
    padding-left: 40px;

}
.algin-text{
    padding-left: 30px;
    padding-top: 5px;
    padding-right: 30px;
}
#summary_content1 {
    color: white;
   display: none; 
   font-size: 20px;
   height: auto;
   width: 100%;
   border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, orange,darkorchid,grey ,green,red,black) 3;
   padding-left: 15px;
   padding-right: 15px;

}
#Detail_content2{
    display: none; 
   font-size: 20px;
   height: 425px;
   width: 1200px;
   border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, orange,darkorchid,grey ,green,red,black) 3;
   padding-left: 15px;
   color:white;
   
}
h4{
    font-size: 30px;
}
u{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(215, 238, 10) ;
   
}
b{
    font-family: Arial, Helvetica, sans-serif;
    

}
.topic{
    color: rgb(0, 195, 255);
}
.number{
    font-size: 30px;
}
.main_topic{
    padding-top: 2px;
    color: rgb(0, 195, 255);
}
.button-design{
  
  width: 100px;
  height: 30px;
  padding:3px;
  font-size: medium;
  background-color: rgb(243, 243, 95) !important;
  color:green!important;
  font-weight: bold;
  cursor:pointer;
  transition: width 1s , height 1.5s;
  border-radius: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  border: 3px solid black;
}
.button-design:hover {
    height:40px;
    width: 120px;
    color:rgb(239, 243, 10);
    font-size:20px;
    font-weight: 100;
  }
  abbr{
    text-decoration: none;
  }
  p #demo {
    display:none;
  }