*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(194, 221, 215);
    display: flex;
    justify-content: center;
    align-items: center center center;

}

.container{
   text-align: center;
   justify-content: center;
    
}
